@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

:root {
    --bg-color: hsl(235, 18%, 26%);
    --text-color: hsl(234, 29%, 20%);
    --card-color: hsl(0, 0%, 100%);
    --primary-color: #3b82f6;
    --secondary-color: #22c55e;
    --border-radius: 0.5rem;
    --border-radius-lg: 2rem;
    --border-color: hsl(0, 0%, 58%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}


body {
    font-family: 'Roboto-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    font-size: 16px;
}

.newsletter-section {
    width: 100%;
    height: 100dvh;
    background-color: var(--bg-color);
}

.container {
    max-width: 1000px;
    height: 100dvh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 1rem;
}

.row {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
    border-radius: var(--border-radius-lg);
}

.left-col,
.right-col {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-col {
    padding: 4rem;
    gap: 2rem
}

.left-col h1 {
    font-family: 'Roboto-Bold';
    font-size: 3.5rem;
    font-weight: 700;
    line-height: normal;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

ul li {
    list-style: none;
    background: url("./assets/images/icon-list.svg") left center no-repeat;
    padding-left: 30px;
    line-height: 2.5;
}

.form-email,
.form-email-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.form-email {
    gap: 1.5rem;
}

.label-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.label-container label {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
}

input[type="text"] {
    padding: 1.25rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    width: 100%;
}

button {
    width: 100%;
    background-color: var(--text-color);
    color: var(--card-color);
    padding: 1.25rem 1rem;
    border-radius: var(--border-radius);
    font-weight: 600;
    border: 0px;
    transition: background 0.3s ease;
}

button:hover {

    background: linear-gradient(90deg, hsl(345, 90%, 60%) 0%, hsl(18, 95%, 60%) 100%);
    box-shadow: 0 10px 20px rgba(255, 69, 58, 0.5);
}

.bg-black {
    background-color: black;
}

.right-col {
    padding: 2rem;
}

.color-red {
    color: red;
    font-weight: 500;
}

.none {
    display: none;
}

input[type="text"].error-border {
    border-color: hsl(0, 100%, 50%);
    color: hsl(0, 100%, 63%);
}

.error-background {
    background-color: hsl(0, 100%, 63%, 0.1);
}

.w-100 {
    width: 100%;
}

.w-auto {
    width: auto;
}

.h-auto {
    height: auto;
}

.object-fit-cover {
    object-fit: cover;
}

.none{
    display: none;
}

.col-thanks {
    width: auto;
    max-width: 500px;
    padding: 3rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.col-thanks h1 {
    font-size: 3.5rem;
    line-height: normal;
}

@media (max-width:375px) {
    .container {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .row {
        max-width: 100%;
        min-height: 100dvh;
        border-radius: 0px;
        flex-direction: column-reverse;
        padding: 0;
    }

    .left-col,
    .right-col {
        width: 100%;
        height: auto;
    }

    .left-col {
        padding: 2rem;
    }

    .left-col h1 {
        font-size: 3rem;
    }

    .right-col {
        padding: 0;
    }


    ul li {
        background: url("./assets/images/icon-list.svg") left top no-repeat;
        padding-left: 30px;
        line-height: 1.4;
        margin-bottom: 1.2rem;
    }

    .heading-col-thanks{
        display: flex;
        flex-direction:column;
        gap : 2rem
    }

    .col-thanks{
        width: 100%;
        height: 100dvh;
        padding: 1rem;
        justify-content: space-between;
        margin-top: 5rem;
    }

}